.MenuContainer ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  background: linear-gradient(
    90deg,
    rgba(112, 5, 13, 1) 0%,
    rgba(190, 81, 89, 1) 53%,
    rgba(112, 5, 13, 1) 100%
  );
  align-items: center;
  text-align: center;
  color: #fff;
}
.MenuContainer ul li {
}
.MenuContainer {
  margin: 20px auto;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
}
.MenuContainer button {
}
.MenuContainer button {
  box-shadow: 3px 4px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 15px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  padding: 5px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}
.MenuContainer button:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}
.MenuContainer button:active {
  position: relative;
  top: 1px;
}
